YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
# as configured in redirect url of oauth client 
API_PORT=3001
CLIENT_PORT=5173
API_HOST=http://localhost:3001
WEB_HOST=http://localhost:5173
SESSION_SECRET=your-secret-key-change-this-in-production